body{
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  margin: auto;
  padding: auto
}

main{
  background-color:ghostwhite;
}

header{
  font-family: sans-serif;
  background: grey;
  color: #fff;
  text-align: center;
}

h1{
  margin: 0;
  padding: 20px;
}

h3 {
  background: #8d929e;
  color: #222;
  padding: 5px;
  margin: 0;
}

section {
  padding: 25px 30px;
}

.border-2px {
  border: 2px solid #8d929e;
  background: #eee
}

.grid-container {
    display: grid;
    height: 400px;
    
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;

  }
  .grid-item {
    background-color:lavenderblush;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-container-gap {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    padding: 10px;
  }
  
  .grid-container-gap > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .grid-gap {
    background-color:peru;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-container-lines {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: gainsboro;
    padding: 10px;
  }
  
  .grid-container-lines > div {
    background-color: dimgray;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .line1{
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .grid-justify-content{
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 200px 200px 200px; 
    grid-gap: 10px;
    background-color: rgb(33, 243, 191);
    padding: 10px;
  }
  
  .grid-justify-content > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .grid-align-content {
    display: grid;
    height: 400px;
    align-content: space-between;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color:indianred;
    padding: 10px;
  }
  
  .grid-align-content > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  

  